{% extends 'base.html.twig' %}

{% block title %}Tournament index{% endblock %}

{% block body %}
    <p>Match-up for the first round generated! check the <a href="{{ path('game_index') }}">Game CRUD</a> and <a href="{{ path('participants_index') }}">Participants CRUD</a>.</p>
    <p>For now all it can do it the first round. oof.</p>
{% endblock %}
